@using EvdeEczane.Models
@model List<Menuler>
@{
    ViewBag.Title = "MusteriHizmetleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">


                <div class="products mb-3">
                    <div class="row justify-content-center">
                        <h5>
                            Evdeeczane.com ile aklınıza takılan her şeyi Müşteri Hizmetleri'ne ulaşarak cevaplayabilirsiniz
                        </h5>
                        <div class="col-12 col-md-12 col-lg-12">


                            <form action="#">
                                <div class="form-group">
                                    <label for="register-email-2">Adı Soyadı</label>
                                    <input type="text" class="form-control" id="register-email-2" name="register-email-2" required style="width:605px">
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Email</label>
                                    <input type="text" class="form-control" id="register-email-2" name="register-email-2" required style="width:605px">
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Telefon</label>
                                    <input type="text" class="form-control" id="register-email-2" name="register-email-2" required style="width:605px">
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Konu</label>
                                    <input type="text" class="form-control" id="register-email-2" name="register-email-2" required style="width:605px">
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email-2">Mesajınız</label>
                                    @*<input type="text" class="form-control" id="register-email-2" name="register-email-2" required style="width:605px">*@
                                    <textarea class="form-control" style="width:605px;"></textarea>
                                </div><!-- End .form-group -->

                                <div class="form-footer" style="float:right">
                                    <a href="https://www.yurticikargo.com/" class="btn btn-danger" target="_blank">
                                        <span>Gönder</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>


                                </div><!-- End .form-footer -->
                            </form>


                        </div>


                    </div><!-- End .row -->
                </div><!-- End .products -->


            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
                <div class="sidebar sidebar-shop">


                    <div class="widget ">
                        <h3 class="widget-title">
                            <span class="text-danger">
                                ÜRÜN GRUPLARI
                            </span>
                        </h3><!-- End .widget-title -->
                        <hr />

                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">
                                    @foreach (var item in Model)
                                    {
                                        <a href="/Kategoriler/Kategori/@item.ID" class="text-dark">
                                            <div class="filter-item">

                                                <div class="custom-control">
                                                    <i class="icon-angle-right"></i>
                                                    @item.MenuAdi

                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->
                                        </a>
                                    }
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->


                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
