
@{
    ViewBag.Title = "Sayfalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content" style="margin-top:40px">
    <h4 class="text-center">TÜM SAYFALAR</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/MesafeliSatisSozlesmesi">Mesafeli Satış Sözleşmesi</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p> MESAFELİ SATIŞ SÖZLEŞMESİ MADDE 1- TARAFLAR  1.1- SATICI: Ünvanı : {_AYAZ VE ORTAKLARI LTD ŞTİ  _} Adresi : {_ UĞUR MUMCU MAH. 1347 SOK. NO:Bodrum E MENEMEN İZMİR  _} Telefon :{_0232 832 75 76 _} Fax ...</p>
                                    <a href="/Sayfalar/MesafeliSatisSozlesmesi" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/GizlilikveGuvenlik">Gizlilik ve Güvenlik</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p> GİZLİLİK VE GÜVENLİK POLİTİKASI   Mağazamızda verilen tüm servisler ve UĞUR MUMCU MAH. 1347 SOK. NO:Bodrum E MENEMEN İZMİR adresinde kayıtlı AYAZ VE ORTAKLARI LTD ŞTİ - www.evdeeczane.com firmamıza aittir ve firmamız tarafından işletilir. Firmamız,ç ...</p>
                                    <a href="/Sayfalar/GizlilikveGuvenlik" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/IptalveIadeSartlari">İptal ve İade Şartları</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        TÜKETİCİ HAKLARI – CAYMA – İPTAL İADE KOŞULLARI GENEL: Kullanmakta olduğunuz web sitesi üzerinden elektronik ortamda sipariş verdiğiniz takdirde, size sunulan ön bilgilendirme formunu ve mesafeli satış sözleşmesini kabul etmiş sayılırsınız. Alıcıl ...
                                    </p>
                                    <a href="/Sayfalar/IptalveIadeSartlari" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/KisiselVerilerinKorunmasi">Kişisel Verilerin Korunması</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        KİŞİSEL VERİLERİN KORUNMASI HAKKINDA BİLGİLENDİRME Gerek web sitemizi kullanırken, gerekse başka yollarla tarafımıza iletmiş olduğunuz kişisel bilgilerinizin güvenliğinin sağlanmasına son derece önem vermektedir. 6698 Sayılı "Kişisel Verilerin Korunması Kanunu” yürürlüğe ...
                                    </p>
                                    <a href="/Sayfalar/KisiselVerilerinKorunmasi" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/PrivacyPolicy">PrivacyPolicy</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Privacy Policy Last Updated On 05-Apr-2023 Effective Date 05-Apr-2023 This Privacy Policy describes the policies of Ayaz ve Ortakları Ltd Şti, UĞUR MUMCU MAH. 1347 SK. No:12 Menemen İzmir, İzmir 35660, Turkey, email: info@evdeeczane.c ...
                                    </p>
                                    <a href="/Sayfalar/PrivacyPolicy" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/CookiePolicy">CookiePolicy</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Cookie Policy Effective Date: 05-Apr-2023 Last Updated: 05-Apr-2023  What are cookies? This Cookie Policy explains what cookies are and how we use them, the types of cookies we use i.e, the information we collect using cookies and how that informa ...
                                    </p>
                                    <a href="/Sayfalar/CookiePolicy" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/AçıkRizaMetni">Açık Rıza Metni</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        AÇIK RIZA METNİ https://www.evdeeczane.com/ internet sitesinde alışveriş yapabilmek için üyelik şartı bulunmamaktadır. Dolayısıyla platformumuzda üyelik bir hizmet koşulu olarak sunulmamaktadır. Üye olmadan alışveriş yapma seçeneğinden farklı olarak üyelik seçeneği; al ...
                                    </p>
                                    <a href="/Sayfalar/AçıkRizaMetni" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/KVKKBasvuruFormu">KVKK Başvuru Formu</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Tarih : …/…./……..   EVDE ECZANE KVKK BAŞVURU FORMU 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nda ("KVK Kanunu”) ilgili kişi olarak tanımlanan kişisel veri sahiplerine (Bundan sonra "Başvuru Sahibi” olarak anılacaktır), KVK Kanunu’un 11. maddesinde kişisel ...
                                    </p>
                                    <a href="/Sayfalar/KVKKBasvuruFormu" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/KVKKAydinlatmaMetni">KVKK Aydınlatma Metni</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        ÜRÜN/HİZMET ALAN KİŞİLER İÇİN KİŞİSEL VERİLERİNİN İŞ FAALİYETLERİ KAPSAMINDA İŞLENMESİNE İLİŞKİN AYDINLATMA METNİ Ayaz ve Ortakları İnşaat Turizm Uluslararası İthalat İhracat İşleri Ltd Şti. olarak 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun ("KVKK”) 10. ...
                                    </p>
                                    <a href="/Sayfalar/KVKKAydinlatmaMetni" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/cerezAydinlatmaMetni">Çerez Aydınlatma Metni</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        "https://www.evdeeczane.com” alan adlı internet sitesi ("Web Sitesi”), "Uğur Mumcu Mahallesi 1347 Sokak No:12 Menemen- İzmir” adresinde bulunan Ayaz ve Ortakları İnşaat Turizm Uluslararası İthalat İhracat İşleri Ltd Şti. (Bundan böyle "Evdeeczane” olarak anılacaktır), ve ...
                                    </p>
                                    <a href="/Sayfalar/cerezAydinlatmaMetni" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Home/SikcaSorulanSorular">Sıkça Sorulan Sorular</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Sıkça Sorulan Sorular   1- Evdeeczane internet sitesi üzerinden satılan ürünler orijinal midir? Evet. Site üzerinden satışa sunulan her bir ürün orijinaldir. Ürünler, üretici ve ithalatçı firmalardan temin edilerek Evdeeczane güvencesi ile kullanıcılara sunulmakta ...
                                    </p>
                                    <a href="/Home/SikcaSorulanSorular" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h2 class="entry-title">
                                    <a href="/Sayfalar/odemeveTeslimat">Ödeme ve Teslimat</a>
                                </h2><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Ödeme ve Teslimat 1) Banka Havalesi veya EFT (Elektronik Fon Transferi) yaparak YapıKredi Bankası hesaplarımıza (TL) (IBAN: TR49 0006 7010 0000 0092 6375 14 )ödeme yapabilirsiniz.    2) Sitemiz üzerinden kredi kartlarınız ile Her türlü kredi kartınıza online t ...
                                    </p>
                                    <a href="/Sayfalar/odemeveTeslimat" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
                <article class="entry entry-list">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="entry-body">
                                <h4 class="entry-title">
                                    <a href="/Hakkimizda/Index">Hakkımızda</a>
                                </h4><!-- End .entry-title -->
                                <div class="entry-content">
                                    <p>
                                        Hakkımızda İlk olarak 2017 yılında  n11.com üzerinden başlayan e-ticaret faaliyetlerimizde ilk 3 aylık süreçte 5000’e yakın siparişi müşterilerimize ulaştırdık ve bu 5000 siparişi %100 müşteri memnuniyeti ile tamamladık. Şirketimizin misyonunu en kaliteli, en güvenilir ürün ...
                                    </p>
                                    <a href="/Hakkimizda/Index" class="btn btn-danger" style="float:right">Devamı</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </article><!-- End .entry -->
                <hr />
            </div><!-- End .col-lg-9 -->


        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
