
@{
    ViewBag.Title = "GizlilikveGuvenlik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" style="background-color:#fbfbfb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
            <li class="breadcrumb-item"><a href="/Home/Sayfalar">Sayfalar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gizlilik Ve Güvenlik</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<h4 class="text-center">GİZLİLİK VE GÜVENLİK</h4>
<hr />
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <article class="entry single-entry">
                    <div class="entry-body">
                        <div class="entry-content editor-content">
                            @Html.Raw(ViewBag.Html)
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                    <a href="/Home/Sayfalar" class="btn btn-danger" style="float:right">Tüm Sayfalar</a>
                </article><!-- End .entry -->
            </div>
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
